
<html>
<head>
</head>
<body>
    <header class="flex smallbar">
        <nav class="navbar">
            <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beer</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>